<h1 class="text-center">List of Drones</h1>
<ul class="list-group">
  {{#each drones}}
    <li class="list-group-item">
      <div>Name: {{this.name}}</div>
      <div>Propellers: {{this.propellers}}</div>
      <div>Max Speed: {{this.maxSpeed}} m/s</div>
      <div class="d-flex align-items-center mt-2">
        <a href="/drones/{{this._id}}/edit" class="btn btn-primary">Edit</a>
        <form action="/drones/{{this._id}}/delete" method="POST" class="ml-1">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </li>
  {{/each}}
</ul>
